<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Nivel Academico</p>
        </div>
    </div>
        <div class="form-group">
            <div>
                <span class="input-group-text" id="basic-addon6">Nivel Academico:</span>
            </div>
            <select class="form-control" id="sel1">
              <option>Primaria</option>
              <option>Secundaria</option>
              <option>Preparatoria</option>
              <option>Universidad</option>
              <option>Maestria</option>
              <option>Doctorado</option>
            </select>
        </div>
        <button type="button" class="btn btn-success" (click)="agregarNivelAcademico()">Guardar</button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>