<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form action="claseDestino.php" method="post">
                <div class="text-center">
                    <div class="font-weight-bolder">
                        <p class="display-4">Moodle</p>
                    </div>
                </div>
                <br>
---------------------------------------- Opcional -------------------------------------------------------------
                <div class="form-group">
                    <div>
                        <span class="input-group-text" id="basic-addon1">Dato Personal:</span>
                    </div>
                    <select class="form-control" id="sel1">
                      <option>Persona1</option>
                      <option>Persona2</option>
                      <option>Persona3</option>
                      <option>Persona4</option>
                      <option>Persona5</option>
                      <option>Persona6</option>
                    </select>
                </div>
---------------------------------------------------------------------------------------------------------------
                <br><br>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="usuario" type="text" placeholder="Usuario" required/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="password" type="password" placeholder="Contraseña" required/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <button class="btn btn-success">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>