<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Mensajes</p>
        </div>
    </div>

    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon2">Descripción Corta:</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>

    <div>
        <span class="input-group-text" id="basic-addon3">Mensaje:</span>
    </div>
    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>

    <br>

    <button type="button" class="btn btn-success">Guardar</button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>