<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Campaña</p>
        </div>
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nombre Campaña:</span>
        </div>
        <input type="text" class="form-control" placeholder="Nombre Campaña" aria-label="Nombre" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon2">Fecha de Inicio:</span>
        </div>
        <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon3">Fecha de Fin:</span>
        </div>
        <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>
    </div>

    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon9">Descripción:</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
        <button type="button" class="btn btn-success">Guardar</button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>