<div class="container">
  <h3 style="text-align: center;">Agenda</h3>
  <div class="row form-group">
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Hora Inicio</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="text" required>
    </div>
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Hora Fin</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="text" required>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Cantidad</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="number" required>
    </div>
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Fecha</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>
    </div>
  </div>
</div>
