<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Dato Personal</p>
        </div>

        <!-- <div class="text-left">
            <p>Nombre:&nbsp;&nbsp;<input type="text" placeholder="Nombre(s)">
            &nbsp;&nbsp;&nbsp;&nbsp;Apellidos:&nbsp;&nbsp;<input type="text" placeholder="Apellidos">
            &nbsp;&nbsp;&nbsp;&nbsp;Correo Electronico:&nbsp;&nbsp;<input type="text" placeholder="Email"></p>
        </div> -->
    </div>

-------------------------------------------------------------------------------------------Boostrap---------------------------------------------------------------------------------------------------------

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nombre(s):</span>
        </div>
        <input type="text" class="form-control" placeholder="Nombre(s)" aria-label="Nombre" aria-describedby="basic-addon1">

        &nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon2">Apellidos:</span>
        </div>
        <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" aria-describedby="basic-addon2">
    </div>
      
    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon3">Correo:</span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Correo" aria-describedby="basic-addon3">

        &nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon4">Telefono:</span>
        </div>
        <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono" aria-describedby="basic-addon4">
    </div>

    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon5">Fecha de Nacimiento:</span>
        </div>
        <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>
    <!-- </div> -->

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- <div class="input-group mb-3"> -->
        <div class="form-group">
            <div>
                <span class="input-group-text" id="basic-addon6">Nivel Academico:</span>
            </div>
            <select class="form-control" id="sel1">
              <option>Primaria</option>
              <option>Secundaria</option>
              <option>Preparatoria</option>
              <option>Universidad</option>
              <option>Maestria</option>
              <option>Doctorado</option>
            </select>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-group">
            <div>
                <span class="input-group-text" id="basic-addon7">Campaña:</span>
            </div>
            <select class="form-control" id="sel2">
              <option>Campaña1</option>
              <option>Campaña2</option>
              <option>Campaña3</option>
              <option>Campaña4</option>
              <option>Campaña5</option>
              <option>Campaña6</option>
            </select>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-group">
            <div>
                <span class="input-group-text" id="basic-addon8">Moodle:</span>
            </div>
            <select class="form-control" id="sel3">
              <option>Moodle1</option>
              <option>Moodle2</option>
              <option>Moodle3</option>
              <option>Moodle4</option>
              <option>Moodle5</option>
              <option>Moodle6</option>
            </select>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-group">
            <div>
                <span class="input-group-text" id="basic-addon9">Status:</span>
            </div>
            <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
          </div>
    </div>
    <button type="button" class="btn btn-success">Guardar</button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>