<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Mentor</p>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nombre(s):</span>
        </div>
        <input type="text" class="form-control" placeholder="Nombre(s)" aria-label="Nombre" aria-describedby="basic-addon1">

        &nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon2">Apellidos:</span>
        </div>
        <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" aria-describedby="basic-addon2">
    </div>
      
    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon3">Correo:</span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Correo" aria-describedby="basic-addon3">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon9">Horario del Mentor:</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
        
    </div>
    
    <button type="button" class="btn btn-success">Guardar</button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>