<div class="container">
    <form>
    <div class="text-center">
        <div class="font-weight-bolder">
            <p class="display-4">Dato Plataforma</p>
        </div>
    </div>

    <div class="form-group">
        <div>
            <span class="input-group-text" id="basic-addon1">Dato Personal:</span>
        </div>
        <select class="form-control" id="sel1">
          <option>Persona1</option>
          <option>Persona2</option>
          <option>Persona3</option>
          <option>Persona4</option>
          <option>Persona5</option>
          <option>Persona6</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div>
            <span class="input-group-text" id="basic-addon2">Status Whatsapp:</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div>
            <span class="input-group-text" id="basic-addon3">Status Correo:</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
    <button type="button" class="btn btn-success">Guardar</button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>
