<div class="container">
  <h3 style="text-align: center;">Mandar Mensaje</h3>
  <div class="row form-group">
    <div class="col-md-6 row">
      <label class="col-sm-12 col-md-4 col-form-label">Mensaje</label>
      <select class="col-sm-12 col-md-8 form-control">
        <option >Bienvenida</option>
      </select>
    </div>
    <div class="col-md-6 row">
      <label class="col-sm-12 col-md-4 col-form-label">Alumno</label>
      <select class="col-sm-12 col-md-8 form-control">
        <option >jose perez</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Fecha y hora Envia</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>
    </div>
    <div class="col-md-6 row">
      <label class="col-xs-12 col-sm-12 col-md-4 col-form-label"> Fecha y hora Respuesta</label>
      <input class="col-xs-12 col-sm-12 col-md-8 form-control" type="Date" required>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label class="col-12 col-form-label">Mensaje</label>
      <textarea class="col-12 form-control"></textarea>
    </div>
    <div class="row">
      <label class="col-12 col-form-label">Respuesta del Mensaje</label>
      <textarea class="col-12 form-control"></textarea>
    </div>
  </div>
</div>
